[submodule "repos/openal_soft"]
	path = repos/openal_soft
	url = https://github.com/kcat/openal-soft
[submodule "repos/zlib"]
	path = repos/zlib
	url = https://github.com/madler/zlib
[submodule "repos/sdl"]
	path = repos/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "repos/ffmpeg"]
	path = repos/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "repos/libpng"]
	path = repos/libpng
	url = https://github.com/pnggroup/libpng.git
